@{
    ViewData["Title"] = "Depenses";
}

<div>
    <div class="text-center">
        <h2 class="display-4">Depense</h2>
        <div id="list_suivi">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Parcelle</th>
                    <th>type</th>
                    <th>P.U</th>
                    <th>Quantité</th>
                    <th>Prix Total</th>
                </tr>
                @foreach (var Depense in Model.Item1) {
                    <tr>
                        <td>@Depense.getDate()</td>
                        <td>@Depense.getParcelle().getNomparcelle()</td>
                        <td>@Depense.getZezika().getNomzezika()</td>
                        <td>@Depense.getPrixunitaire().ToString("#,##0.00") Ar</td>
                        <td>@Depense.getQuantite() Kg</td>
                        <td>@Depense.getPrixtotal().ToString("#,##0.00") Ar</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div>
        <p class="totaldep"><strong>Total : </strong>@Model.Item2.ToString("#,##0.00") Ar</p>
    </div>
</div>
